* {
  margin: 0;
  padding: 0;
}

html{
  min-height: 100%;
}
body {
  min-height: 100%;
}

body {
  background-color: #FFFFFF;
  font-family: 'Century Gothic', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  overflow-x: hidden;
}

h1 {
  width: 100%;
  height: 1.4em;
  font-size: 4em;
  font-weight: 100;
}

h1 a {
  color: #fff;
}

a {
  text-decoration: none;
}

b {
  font-size: 1.2em;
}

#top {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

#top-bar {
  width: 100%;
  height: 5em;
  color: #fff;
  background-color: #202020;
  opacity: 1;
}

nav#menu {
  margin: 0 auto 1em;
  margin-bottom: 1em;
  display: block;
  position: relative;
}

nav#menu a {
  color: #fff;
  text-decoration: none;
  padding: .2em 1em;
  background-color: #1fc0f1;
  display: inline-block;
  font-size: 1.5em;
}

nav#menu a:active,
nav#menu a:hover {
  color: #202020;
}

div#content {
  position: relative;
  width: 100%;
  color: #202020;
  font-size: 1em;
  margin: 12em 0 1em 0;
  text-align: center;
}

div#avatar {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #1fc0f1;
  background: url('./imgs/james.jpg') no-repeat center center;
  z-index: 1;
}

p#title {
  display: inline-block;
}

div#profile {
  position: relative;
  display: inline-block;
  max-width: 250px;
}

p#desc {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  word-wrap: break-word;
  text-align: justify;
}


@media (min-width: 320px) {
  p#desc {
    opacity: 1;
    text-align: center;
    left: 0;
    width: 100%;
    top: 12em;
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 30px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  p#desc {
    left: 40%;
    top: 1em;
    font-size: .8em;
    opacity: 0;
    max-width: 30em;
    text-align: justify;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  body {
    font-size: 22px;
  }
}

@media (min-width : 1224px) {
  body {
    font-size: 18px;
  }
  p#desc {
    left: 37%;
    top: 1em;
    text-align: justify;
    opacity: 0;
  }
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #1fc0f1;    
}

/* Animations */
.translate {
  -webkit-animation: translate 2s; /* Safari and Chrome */
  -moz-animation: translate 2s; /* Firefox */
  -ms-animation: translate 2s; /* Internet Explorer */
  -o-animation: translate 2s; /* Opera */
  animation: translate 2s;
}

.fade-in {
  -webkit-animation: fadeIn 1s; /* Safari and Chrome */
  -moz-animation: fadeIn 1s; /* Firefox */
  -ms-animation: fadeIn 1s; /* Internet Explorer */
  -o-animation: fadeIn 1s; /* Opera */
  animation: fadeIn 1s;
}

.translate,
.fade-in {
  -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation-fill-mode: forwards; /*FF 5+*/
  -ms-animation-fill-mode: forwards; /*IE 10+*/
  -o-animation-fill-mode: forwards; /*Not implemented yet*/
  animation-fill-mode: forwards; /*when the spec is finished*/
}

@keyframes translate {
    from { left: 0; }
    to   { left: -20%; }
}

/* Firefox */
@-moz-keyframes translate {
    from { left: 0; }
    to   { left: -25%; }
}

/* Safari and Chrome */
@-webkit-keyframes translate {
    from { left: 0; }
    to   { left: -25%; }
}

/* Internet Explorer */
@-ms-keyframes translate {
    from { left: 0; }
    to   { left: -25%; }
}​

/* Opera */
@-o-keyframes translate {
    from { left: 0; }
    to   { left: -25%; }
}​


@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
