* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
  font-family: 'Century Gothic', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 100;
  font-style: normal;
  text-align: center;
}

h1 {
  width: 100%;
  height: 1.4em;
  font-size: 3em;
  font-weight: 100;
}

h1 a {
  color: #fff;
}

a {
  text-decoration: none;
}

#top-bar {
  width: 100%;
  height: 100px;
  color: #fff;
  background-color: #202020;
  opacity: 1;
}

nav#menu {
  margin: 0 auto 1em;
  margin-bottom: 1em;
  display: block;
  position: relative;
}

nav#menu a {
  color: #fff;
  text-decoration: none;
  padding: .2em 1em;
  background-color: #1fc0f1;
  display: inline-block;
}

div#content {
  width: 80%;
  height: 80%;
  color: #202020;
  font-size: 1em;
  margin: auto;
  text-align: center;
}

div#avatar {
  position: relative;
  /*display: inline-block;*/
  /*margin: 3em auto 1em;*/
  margin: 3em 0 1em 0;
  left: 40%;
  /*float: left;*/
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #1fc0f1;
  background: url('./imgs/james.jpg') no-repeat center center;
  z-index: 1;
}

.translate {
  -webkit-animation: translate 2s; /* Safari and Chrome */
  -moz-animation: translate 2s; /* Firefox */
  -ms-animation: translate 2s; /* Internet Explorer */
  -o-animation: translate 2s; /* Opera */
  animation: translate 2s;
}

.fadeIn {
  -webkit-animation: fadeIn 1s; /* Safari and Chrome */
  -moz-animation: fadeIn 1s; /* Firefox */
  -ms-animation: fadeIn 1s; /* Internet Explorer */
  -o-animation: fadeIn 1s; /* Opera */
  animation: fadeIn 1s;
}

.translate,
.fadeIn {
  -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation-fill-mode: forwards; /*FF 5+*/
  -ms-animation-fill-mode: forwards; /*IE 10+*/
  -o-animation-fill-mode: forwards; /*Not implemented yet*/
  animation-fill-mode: forwards; /*when the spec is finished*/
}

#summary {
  display: inline-block;
  float: left;
  font-size: 1em;
  margin-top: 100px;
}

@keyframes translate {
    from { left: 40%; }
    to   { left: 10%; }
}

/* Firefox */
@-moz-keyframes translate {
    from { left: 40%; }
    to   { left: 10%; }
}

/* Safari and Chrome */
@-webkit-keyframes translate {
    from { left: 40%; }
    to   { left: 10%; }
}

/* Internet Explorer */
@-ms-keyframes translate {
    from { left: 40%; }
    to   { left: 10%; }
}​

/* Opera */
@-o-keyframes translate {
    from { left: 40%; }
    to   { left: 10%; }
}​


@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

@media screen and (max-width: 640px) {
  body {
    font-size: 18px;
  }
}
